@model AtchooClient.ViewModels.RegisterViewModel

<section class="Register">

    <div class="title">
        <h2>Register</h2>
    </div>

    @using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
    {
        <div class="form register">
            @Html.LabelFor(user => user.Email)
            @Html.TextBoxFor(user=> user.Email)

            @Html.LabelFor(user => user.UserName)
            @Html.TextBoxFor(user=> user.UserName)

            @Html.LabelFor(user=> user.Password)
            @Html.PasswordFor(user=> user.Password)

            @Html.LabelFor(user=> user.ConfirmPassword)
            @Html.PasswordFor(user=> user.ConfirmPassword)

            <input class="button" type="submit" value="Register" />
        </div>
    }

</section>