@model AtchooClient.Models.UserAllergy


<div class="user-page">

    <h3>@Html.DisplayNameFor(model => model.Allergy): @Html.DisplayFor(model => model.Allergy)</h3>


    @if(@Model.JoinEntities.Count == 0)
    {
      <p>No Profiles Added Yet</p>
    }
    else
    {
      <p>Profiles:</p>
      <div class="row"> 
        @foreach(var join in Model.JoinEntities)
        {
          <div class="col-md-4">
            <div class="card h-100 w-100">
              <div class="card-title">
                <p>@join.userProfile.Name</p>
              </div>
              <div class="card-body">
                <p>DOB: @join.userProfile.DOB</p>
                <p>Bio: @join.userProfile.Bio</p>
              </div>
            </div>
          </div>
        } 
      </div>
    }

</div>