
@model LoginViewModel

<section class="Register">

        <div class="title">
            <!-- <h2>Login</h2> -->
        </div>

    <div class= "inner-content">

    @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class="form-wrap" }))
    {
        <div class="form">
            @Html.LabelFor(user => user.UserName)
            @Html.TextBoxFor(user=> user.UserName)

            @Html.LabelFor(user=> user.Password)
            @Html.PasswordFor(user=> user.Password)

            <input class="button" type="submit" value="Login" />
        </div>
        
        <button>@Html.ActionLink("Don't have an account? Register", "Register")</button>
    }

    
    <img id="logo" src="https://i.ibb.co/nkgC1YJ/logo.png" alt="logo">

    </div>


</section>