
@model AtchooClient.ViewModels.RegisterViewModel

<div class="Register">

    <div class="title">
    </div>

    <div class= "inner-content">

        <div class="form-wrap">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class="form-wrap" }))
            {
                <div class="form">
                    @Html.LabelFor(user => user.Email)
                    @Html.TextBoxFor(user=> user.Email, new {@type = "email", required = "required"})

                    @Html.LabelFor(user => user.UserName)
                    @Html.TextBoxFor(user=> user.UserName, new {required = "required"})

                    @Html.LabelFor(user=> user.Password)
                    @Html.PasswordFor(user=> user.Password, new {required = "required"})

                    @Html.LabelFor(user=> user.ConfirmPassword)
                    @Html.PasswordFor(user=> user.ConfirmPassword, new {required = "required"})

                    <input class="button" type="submit" value="Register" />
                </div>

                <div class="extra-button">
                    <button>@Html.ActionLink("Login", "Login", "Account")</button>
                </div>

        }

        </div>

        <img id="logo" src="https://i.ibb.co/nkgC1YJ/logo.png" alt="logo">


    </div>



</div>