
@model AtchooClient.Models.UserProfile

<h4>Create Your Profile</h4>

<div class= "inner-content">

      <div class="form-wrap">

            @using (Html.BeginForm())
            {
              <div class = "form">

                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { required = "required" })

                @Html.Label("Date of Birth")
                @Html.TextBoxFor(model => model.DOB, new { required = "required", @type = "date", value = "model.DOB" })

                @Html.LabelFor(model => model.Bio)
                @Html.TextAreaFor(model => model.Bio, new { required = "required", maxlength=250, @class = "form-control" })

                @Html.Label("Select Allergy")
                @Html.DropDownList("UserAllergyId")

                <input class="button" type="submit" value="create profile" class="btn btn-primary" />

              </div>
            }

      </div>

</div>