<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AtchooClient</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AtchooClient.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">

        <div class="topnav">
        <a id="nav-name-link" href="/"><h1 class="nav-title">Atchoo</h1></a>
        <a id="nav-link" href="/" class="active">Home</a>
        <a id="nav-link" href="/UserAllergies/Index">Allergy List</a>
        <a id="nav-link" href="/UserProfiles/Index">Profile</a>
        @if (User.Identity.IsAuthenticated)
            {
                <a id="nav-link-logoff">@using (Html.BeginForm("LogOff", "Account"))
                {
                 <input type="submit" value="Logout">
                }</a>
            }
        else
            {
                <a id="nav-link" href="/Account/Login">Login</a>
                <a id="nav-link" href="/Account/Register">Register New Account</a>
            }
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
            <!-- <div class="button-footer">
            
                <button>@Html.ActionLink("Home", "Index", "Home")</button>
                <button>@Html.ActionLink("Allergen List", "Index", "UserAllergies")</button>
                <button>@Html.ActionLink("View Profile", "Index", "UserProfiles")</button>
            </div> -->
        </main>
        @await Html.PartialAsync("Footer")
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>